*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  background:#4D96D5;
  min-height:100vh;
}

.stopwatch{
  margin:auto;
  text-align:center;
  color:white;
}


.stopwatch button{
  padding:10px;
  margin:10px;
  border-radius:5px;
  color:#4D96D5;
  background:#CAE0D0;
  cursor:pointer;
  font-size:25px;
  transition:0.6;
  border:none
}

.stopwatch button:hover{
color:#374FA0;
}